/*mobiel > zoekbalk met temperatuur na zoeken en '(niet) veilig om te landen'*/
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Roboto;
	background-color: #131862;
}
.logo{ /*het logo staat vast en scrollt niet mee*/
	background-color: black;
	margin: 0;
	position: fixed;
	width: 100%;
	height: 50px;
	z-index: 2;
	top: 0;
}
figure{ /*container voor afbeelding*/
	margin: 0;
	z-index: 1;
}
.logo > img{
	margin-left: auto;
	margin-right: auto;
	margin-top: 9px;
	display: block;
	width: 170px;
}
body:not(figure){
	margin-top: 60px;
}
form{
	display: inline-block;
	width: 80%;
	margin-left: 10%;
	margin-right: auto;
	margin-bottom: 10px;
	margin-top: 20px;
}
#map{
	display: none;
	margin-top: 60px;
	z-index: 0;
}

/*tablet > kaart met zoekbalk en temperatuur na zoeken erboven*/
@media(min-width: 768px){ 
	#weather{
		margin-left: 70px;
		margin-bottom: 20px;
	}
	#map {
		display: block;
		margin: 0 auto;
		/*margin-top: 60px;*/
		width: 90%;
		height: 85vh;
		color: #111;
		box-shadow: 2px 2px 50px -20px black;
	}

	#map img {
		display: block;
		margin: 2px 10px 10px 0;
		float: left;
		max-width: 100px;
		border: 1px solid #333;
		border-radius: 3px;
	}
}

/*desktop > kaart met zoekbalk en weer met popup met temperatuur '(niet) veilig om te landen'*/
@media(min-width: 1080px){ 
	form, #weather{
		display: none;
	}
}

/*groot scherm > kaart met zoekbalk en weer met popup met temperatuur en live-foto (of earth) van gezochte plaats*/
@media(min-width: 1920px){ 
	form{
		display: flex;
		flex-direction: column;
		position: relative;
		align-items: flex-end;
		top: 150px;
	} 
	#weather{
		display: flex;
		flex-direction: column;
		position: relative;
		align-items: flex-end;
		top: 10%;
		right: 10%;
		width: auto;
		width: 90%;
	}
	#map{
		width: 50%;
		margin: 35px;
		position: relative;
	}
}